/* Global styles */

$darkColor: rgb(26, 25, 26);
$lightColor: rgb(252, 199, 27);
$lightColor2: rgb(244, 242, 237);

$accentColor: rgba(153, 152, 153, 0.884);
$accentColor2: rgba(26, 25, 26, 0.884);

$headingFont: 'Open Sans ', sans-serif;
$otherFont: 'Roboto', sans-serif;

html {
    font-family: $otherFont;
    background: $darkColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $otherFont;
    font-weight: 300;
    color: $lightColor;
}

h1 { 
    margin-top: 50px;
}

h3 {
    color: $lightColor2;
}

header, footer, button {
    background: $accentColor2;
    color: $lightColor;
}

.instructions {
    padding: 5% 10%;
    p {
        color: darken($lightColor2, 10);
        line-height: 1.5;
    }
}

button, .backToTop {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid $accentColor;
    &:hover, &:focus {
        transition: .5s;
        color: $lightColor2;
        border-color: $lightColor2;
    }
}

span.buttonTextSpan, .modalButtons span {
    margin-left: 5px;
}

a {
    color: $lightColor;
    &:hover, &:focus {
        transition: .5s;
        color: $lightColor2;
        border-color: $lightColor2;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 20px;
    text-align: center;
    justify-content: baseline;
}

.backToTop, .addButton {
    position: fixed;
    right: calc(50% - 72px);
    background: $accentColor2;
    border-radius: 10px;
    border: 2px solid $accentColor;
}

.backToTop{
    bottom: 20px;
}

.addButton {
    top: 20px;
    right: calc(50% - 85px);
}