/* Media query styles */

@media (max-width: 900px) { 

    header h6, h5 {
        position: absolute; 
        top: 10px;
        left: 57%;
    }
    .exerciseItem {
        width: 100%;
    }
    
    span.buttonTextSpan {
        display: none;

        &:hover, &:focus {
            position: absolute;
            display: block;
        }
    }

    a>i, button {
        border-radius: 50%;
        padding: 5px 7px;
        border: 2px solid $lightColor;
        margin-left: 5px;
    }

    button.addButton, .modalButtons>button, .instructionsButtons {
        border-radius: 10px;
    }
    
    button.addButton {
        right: calc(50% - 28px);
    }

    .backToTop {
        padding: 6px 4px 8px 0px;
        right: calc(50% - 20px);
    }
}


@media (max-width: 700px) { 

    .modal .exerciseForm {
        width: 100%;
        padding: 100px 50px;
        margin: 0px;

        h4 {
            margin-bottom: 30px;
        }
    }

    form.modal > h3 {
        top: 10px;
    }
    
    .textInputs {
        margin-top: 50px;
    }

}

@media (max-width: 625px) { 

    header {
        flex-wrap: wrap;

        h6 {
            left: 62%;
        }

        h1 {
            margin-right: 60px;
        }
    }

    input#currentDescription {
        margin: 11px;
    }

    footer {
        flex-direction: column;
        padding: 0 0 80px 0;

        p {
            margin: 10px;
        }
    }
}

@media (max-width: 470px) { 

    .exerciseItem {
        flex-wrap: wrap;
        h4 {
            width: 80%;
            text-align: center;
        }
        h4.exerciseName {
            text-align: left;
        }
    }

    form.modal > h3 {
        left: 30px;
    }

    .modal .exerciseForm {
        padding: 75px 25px;
    }

    .textInputs {
        margin-top: 20px;
    }

    .modalButtons{
        flex-wrap: wrap;

        &>button {
            margin: 0 20px 20px 0;
        }
    }
}

@media (max-width: 400px) { 

    .modalButtons {
        flex-direction: column;
    }

    form.modal label.primaryLabel{
        font-size: 1.19rem;
    }
}

@media (max-height: 800px) { 
    .modal {
        height: 800px;
    }
}