/* Workout styles */

.workoutsByDate {
    margin: 0;
    padding: 0;
    background: $darkColor;
}
.workouts h2{
    background: linear-gradient($lightColor, $lightColor2, $lightColor);
    color: $darkColor;
}

.workout {
    margin-bottom: 50px;
    list-style-type: none;
    flex-wrap: wrap;
    background: $darkColor;
    padding: 0;
}

.exerciseItem {
    margin: 10px;
    width: calc(50% - 20px); 
    background: linear-gradient($accentColor, $accentColor2);
    padding: 10px;
    h4 {
        text-transform: capitalize;
        font-size: 1.2rem;
        letter-spacing: 1.5pt;
        margin: 5px;
        &.exerciseName {
            color: $lightColor2;
            text-transform: uppercase;
        }
    }
    & span.repsSpan {
        font-family: $otherFont;
        font-weight: 700;
        text-align: right;
        border-radius: 50%;
        padding: 0 .45rem;
        background: radial-gradient($lightColor2, $lightColor 10%);
        color: $darkColor;
        margin-right: 10px;
        border: 2px solid $accentColor2;
    }
}

.allWorkouts h2 {
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
}