/* Global styles */

$darkColor: black;
$lightColor: white;


.flex {
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.workout {
    margin-bottom: 20px;
    max-width: 90%;
    list-style-type: none;
}

.workouts{
    // background: yellow;
}