/* Global styles */

$darkColor: black;
$lightColor: #fcc71b;
$lightColor2: white;

$accentColor: rgba(153, 152, 153, 0.884);
$accentColor2: rgba(26, 25, 26, 0.884);

$headingFont: 'Open Sans ', sans-serif;
$otherFont: 'Roboto', sans-serif;

html {
    font-family: $otherFont;
    background: $darkColor;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $otherFont;
    font-weight: 300;
    color: $lightColor;
}

h3 {
    color: $lightColor2;
}

header, footer, button {
    background: $accentColor2;
    color: $lightColor;
}

button {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid $lightColor;
    &:hover {
        transition: .5s;
        color: $lightColor2;
        border-color: $lightColor2;
    }
}

button>i.fa {
    margin-right: 5px;
}

a {
    color: $lightColor;
    &:hover {
        transition: .5s;
        color: $lightColor2;
        border-color: $lightColor2;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 20px;
    text-align: center;
}